
.personal-card{
    padding: 5px;
    margin: 15px;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    text-align: center;
    background-color: lightblue;
    
    
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.mail{
    width: 40px;
   margin: 3px;
}
a{
    margin-inline-start:15px;
    font-size: 25px;
    color: seagreen;
}
