.content-container{
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr ;
   
}
.person-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-right: 1px solid lightgrey;
}
.card-container{
    margin: 15px 8px;
    border: 2px solid lightseagreen;
    padding-top: 50px;
    height: 30%;
    border-radius: 8px;
    box-shadow:5px 10px gray;
}